html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(30, 63, 92);
}

.formulario {
    background-color: #fff;
    padding: 60px;
    border-radius: 6px;
    max-width: 768px;
}

/* ================= */
/* ===== MODAL ===== */
/* ================= */
.container-loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    display: none;
    flex-direction: column;
    text-align: center;
}

.modal-container {
    margin: auto;
    width: 700px;
    position: relative;
    padding: 50px 0;
}

.container-loading p {
    color: #888;
    font-weight: lighter;
    font-size: 0.875em;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.8);
    border-left-color: #ff8800;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto 20px auto;
}

.result-error,
.result-success,
.sendForm,
.col_consumo {
    display: none;
}

#sendForm label {
    font-size: 14px;
}

::placeholder {
    color: #CCC !important;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}